#map-content {position:relative;}
#map-content .tile {position:absolute; width: 60px; height: 60px;}

#dividerItemsTable { width: 70px;}

#helmetIcon { width: 70px;}

#version {
	position: fixed; bottom: 10px; right: 10px; font-size: 9; color: grey; 
}

#inventory {
	position: absolute;	bottom: 10px; left: 5px; font-family: Tahoma; font-size: 10px; color: #FFD700;
	text-align: center;
}
#stats {
	top: 10px; left: 5px; font-family: Tahoma; font-size: 15px; text-align: center; 
}
#status {
	position: absolute; top: 10px; right: 10px; font-family: Tahoma; font-size: 15px; text-align: center;
}
#dayOrNightCounter {
	font-family: Tahoma; font-size: 10px; font-style: italic;
}
#turnbutton {
	position: relative; text-align: center; top: 20px;     
}
#arrowsCounter {
	font-family: Tahoma; font-size: 18px; color: #FFD700;
}
#healingPotionsCounter {
	font-family: Tahoma; font-size: 18px; text-decoration: underline;
}
#healingPotionsCounter:hover { color: #A52A2A; }

#mapContainer {
	margin: 0 auto; position: relative; top: 20px; border: 0px; width: 1200px; height: 480px; text-align: center;
}
#canvas {
	position: relative; text-align: center; border: 0px; padding: 0; margin: 0 auto;
}
#player {
	position: absolute; margin: 15 auto; left: 15px;
}
#tile1div { position: relative; }
#tile2div { position: relative; }
#tile3div { position: relative; }